* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f7ded5;
  padding: 40px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;

  /* Thêm khung và nền */
  border: 4px solid #f6cbcb;
  border-radius: 20px;
  padding: 30px;
  background-image: url("image/anhh.jpg"); /* Thay bằng đường dẫn ảnh nền của bạn */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.text-column {
  flex: 1;
  min-width: 300px;
}

.text-column h1 {
  font-size: 2.5rem;
  color: #2d1313;
  margin-bottom: 20px;
}

.text-column p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color:#f5eded;
}

.image-column {
  flex: 1;
  min-width: 300px;
}

.swiper {
  width: 100%;
  height: 500px; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #caaa9a;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: auto;
}